{% extends 'base.html.twig' %}

{% block title %}Ajouter une liste des élèves{% endblock %}

{% block body %}

	<h1>Ajouter une liste des élèves</h1>

	<p>Les champs avec '*' sont obligatoires </p>

	<h2>Veuillez selectionner un fichier contenant une liste des élèves</h2>

	{% for message in app.flashes('SuccessFileSubmit') %}
        <div class="flash-success">
            {{ message }}
        </div>
    {% endfor %}

	{{form_start(form)}}
		<div>
			{{form_label(form.fileSubmit)}}
		</div>
		<div id="fileInputUser">
			{{form_widget(form.fileSubmit)}}
		</div>
		<div class="erreur">
			{{form_errors(form.fileSubmit)}}
		</div>
        <div>
	        <div id="divAjout" class="form-actions">
		        <button type="submit" class="btn btn-success">
		            Envoyer votre liste des élèves
		        </button>
	        </div>
        </div>
	{{form_end(form)}}
    <div>
        <a href="{{ path('eleve_index') }}">
            <button class="btn btn-secondary" id="btnRetour">
                Revenir dans la liste
            </button>
        </a>
    </div>

{% endblock %}