{% extends 'base.html.twig' %}

{% block title %}Bienvenue dans l'espace de statistique{% endblock %}

{% block body %}
<body id="stat">
	<h1>Bienvenue dans l'espace de statistique</h1>
		<div>
			<table class="table tableAdmin" id="tableStat">
				<thead>
					<tr>
						<th scope="col">La statistique demandé</th>
						<th scope="col">Les données</th>
					</tr>
				</thead>
			    <tbody>
				    <tr>
					    <td>Nombre d'élèves inscrit total</td>
					    <td>
					    	{{inscriptions|length}} inscrits
					    </td>
				    </tr>
				    <tr>
					    <td>Nombre d'événements actif total</td>
					    <td>
					    	{% set nbEventActif = 0 %}
					    	{% for event in events %}
					    		{% if event.dateDebut|date('d/m/Y') > "now"|date("d/m/Y") and "now"|date("d/m/Y") < event.dateFin|date('d/m/Y')%}
					    			{% set nbEventActif = nbEventActif + 1 %}
					    		{% else %}
					    			{% set nbEventActif = nbEventActif %}
					    		{% endif %}
					    	{% endfor %}
					    	{{nbEventActif}}
					    </td>
				    </tr>
				</tbody>
			</table>
		</div>
		<div id="canvas1">
			<p>Nombre d'inscrit par categorie</p>
			<div id="canvas-holder">
				<canvas id="nbInscritCateg"></canvas> 
			</div>
			<script>

				{% set nbInscritCadet = 0 %}
				{% set nbInscritCadette = 0 %}
				{% set nbInscritJFille = 0 %}
				{% set nbInscritJGarçon = 0 %}
				{% set nbInscritToutes = 0 %}

				{% for inscription in inscriptions%}
                    {% switch inscription.eleve.categorie.libelleCategorie %}
                        {% case 'Cadet' %}
							{% set nbInscritCadet = nbInscritCadet + 1 %}
                        {% case 'Cadette' %}
                            {% set nbInscritCadette = nbInscritCadette + 1 %}
                        {% case 'Junior Garçon' %}
                           {% set nbInscritJGarçon = nbInscritJGarçon + 1 %}
                        {% case 'Junior Fille' %}
                            {% set nbInscritJFille = nbInscritJFille + 1 %}
                        {% default %}
                            {% set nbInscritToutes = nbInscritToutes + 1 %}
                    {% endswitch %}
                {% endfor %}
				var nbInscritCategorie = {
					labels: [
						'Cadet',
						'Cadette',
						'Junior Garçon',
						'Junior Fille',
						'Toutes'
					],
					datasets: [{
						backgroundColor: ['Red','Yellow', 'Green', 'Blue','Purple'],
						borderColor: 'White',
						borderWidth: 1,
						data: [
							{{nbInscritCadet}},
							{{nbInscritCadette}},
							{{nbInscritJFille}},
							{{nbInscritJGarçon}},
							{{nbInscritToutes}}
						]
					}],
				};
				var ctx1 = document.getElementById('nbInscritCateg').getContext('2d');
				var chart1 = new Chart(ctx1, {
				    // The type of chart we want to create
				    type: 'pie',

				    // The data for our dataset
				    data: nbInscritCategorie,
				    // Configuration options go here
				    options: {}
				});
			</script>
		</div>
		<div id="canvas2">
			<p>Répartition des élèves licenciés par le montant</p>
			<div id="canvas-holder">
				<canvas id="montantLicence"></canvas> 
			</div>
			<script>
				var licenceData ={
					labels: [
						dddd,
						dddd

					],
					datasets: [{
						backgroundColor: ['Red','Yellow'],
						borderColor: 'White',
						borderWidth: 1,
						data: [
							50,
							10
						]
					}],
				};
				var ctx2 = document.getElementById('montantLicence').getContext('2d');
				var chartH = new Chart(ctx2, {
				    // The type of chart we want to create
				    type: 'doughnut',

				    // The data for our dataset
				    data: licenceData,
				    // Configuration options go here
				    options: {}
				});
			</script>
		</div>
	</div>
{% endblock %}



