	{{form_start(form)}}
		<div>
			{{form_label(form.libelleCategorieDoc)}}
		</div>
        <div id="divInput">
            {{form_widget(form.libelleCategorieDoc)}}
        </div>
        <div class="erreur">
            {{form_errors(form.libelleCategorieDoc)}}
        </div>
        <div>
            <div id="divAjout" class="form-actions">
                <button type="submit" class="btn btn-success">
                    Enregistrer la catégorie d'élève
                </button>
            </div>
        </div>
    {{form_end(form)}}