{% extends 'base.html.twig' %}

{% block title %}Oublie de mot de passe{% endblock %}


{% block body %}

    <h1>Oubli de mot de passe</h1>

    <h2>Veuillez saisir votre email pour envoyer une demande pour réinitialiser votre mot de passe</h2>
    <div class="container" id="formOubli">
        {{form_start(form)}}
            <div>
                {{form_label(form.email)}}
            </div>
            <div id="divInput">
                {{form_widget(form.email)}}
            </div>
            <div class="erreur">
                {{form_errors(form.email)}}
            </div>
            <div>
                <div id="divAjout" class="form-actions">
                    <button type="submit" class="btn btn-success">
                        Envoyer votre demande
                    </button>
                </div>
            </div>
        {{form_end(form)}}
    </div>


{% endblock %}
