	{{form_start(form)}}
		<div>
			{{form_label(form.nom)}}
		</div>
        <div id="divInput">
            {{form_widget(form.nom)}}
        </div>
        <div class="erreur">
            {{form_errors(form.nom)}}
        </div>
        <div>
	        <div id="divAjout" class="form-actions">
		        <button type="submit" class="btn btn-success">
		            Enregistrer le type d'événement
		        </button>
	        </div>
        </div>
    {{form_end(form)}}