{% extends 'base.html.twig' %}

{% block title %}Liste des événements{% endblock %}

{% block body %}
    <h1>Liste des événements</h1>
    <div>
        <a href="{{ path('evenement_new') }}">
            <button class="btn btn-primary" id="btnAjout">
                Ajouter un nouveau événement
            </button>
        </a>
        <a href="{{ path('admin_index') }}">
            <button class="btn btn-secondary" id="btnRetour">
                Retourner dans la liste de fonctionnalité
            </button>
        </a>
    </div>
    <div>
        {{ knp_pagination_render(evenements) }}
    </div>
    <table class="table tableAdmin">
        <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Date de début</th>
                <th scope="col">Date de fin</th>
                <th scope="col">Lieu</th>
                <th scope="col">Coût</th>
                <th scope="col">Description</th>
                <th scope="col">Nombre de place maximum</th>
                <th scope="col">Image</th>
                <th scope="col">Vignette</th>
                <th scope="col">Editer</th>
                <th scope="col">Supprimer</th>
            </tr>
        </thead>
        <tbody>
            {% for evenement in evenements %}
                <tr>
                    <td scope="row">{{ evenement.nomEvenement }}</td>
                    <td>{{ evenement.dateDebut ? evenement.dateDebut|date('d/m/Y H:i:s') : '' }}</td>
                    <td>{{ evenement.dateFin ? evenement.dateFin|date('d/m/Y H:i:s') : '' }}</td>
                    <td>{{ evenement.lieuEvenement }}</td>
                    <td>{{ evenement.coutEvenement }} €</td>
                    <td>{{ evenement.descripEvenement|u.truncate(100,'...',true)  }}</td>
                    <td>{{ evenement.nbPlace }}</td>
                    <td>
                        {% if evenement.imageEvenement %}
                            <img src="{{ asset('uploads/eventImg/' ~ evenement.imageEvenement) }}" id="imgEvent" placeholder="image de l'événement">
                        {% else %}
                            <img src="{{ asset('static/images/placeholder.png') }}" id="imgEvent" placeholder="image de l'événement">
                        {% endif %}
                    </td>
                    <td>
                        {% if evenement.imageEvenement %}
                            <img src="{{ asset('uploads/eventVig/' ~ evenement.vignetteEvenement) }}" id="vignette" placeholder="vignette de l'événement">
                        {% else %}
                            <img src="{{ asset('static/images/placeholder.png') }}" id="vignette" placeholder="vignette de l'événement">
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('evenement_edit',
                        {'id': evenement.id}) }}">
                            <button class="btn btn-primary">
                                <i class="far fa-edit"></i>
                            </button>
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('evenement_delete_view',
                         {'id': evenement.id}) }}">
                            <button class="btn btn-danger">
                                <i class="fas fa-trash"></i>
                            </button>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="11" class="erreur">Aucune donnée n'a été trouvée</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div>
        {{ knp_pagination_render(evenements) }}
    </div>
{% endblock %}
