  
{% extends 'base.html.twig' %}

{% block title %}{{ evenement.nomEvenement }}{% endblock %}

{% block body %}
    <div id="showEvent">
        <h1>{{ evenement.nomEvenement }}</h1>

        <p><i class="fas fa-calendar-alt"></i> {{ evenement.dateDebut ? evenement.dateDebut|date('d/m/Y  H:i') : '' }} au {{ evenement.dateFin ? evenement.dateFin|date('d/m/Y H:i') : '' }}</p>

        <p><i class="fas fa-exclamation-circle"></i> {{evenement.inscriptions|length}} inscriptions sur {{ evenement.nbPlace }}</p>

        <p>Type d'événement : {{evenement.type.getNom}}</p>

        <p>Sport : {{evenement.Sport.getNomSport}}</p>

        <p>Catégorie : {{evenement.categorieEleve.getLibelleCategorie}}</p>

        <p>Lieu : {{ evenement.lieuEvenement}}</p>

        {% if evenement.imageEvenement %}
            <img src="{{ asset('uploads/eventImg/' ~ evenement.imageEvenement) }}" id="imgEvent" placeholder="image de l'événement">
        {% else %}
            <img src="{{ asset('static/images/placeholder.png') }}" id="imgEvent" placeholder="image de l'événement">
        {% endif %}
        
        <h2>Description de l'événement</h2>

        <p>{{ evenement.descripEvenement }}</p>

        <h2>Condition d'inscription</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.<p>

        <h2> {{evenement.documents|length}} documents à télécharger</h2>

        <table class="table table-striped tableAdmin">
            <thead>
                <tr>
                    <th scope="col">Nom du document</th>
                    <th scope="col">Date d'ajout</th>
                    <th scope="col">Catégorie</th>
                    <th scope="col">Lien de téléchargement</th>
                </tr>
            </thead>
            <tbody>
                {% for docs in evenement.documents %}
                    <tr>
                        <td scope="row">{{docs.nomDocument}}</td>
                        <td scope="row">{{docs.dateAjout ? docs.
                        dateAjout|date('d/m/Y') : '' }}</td>
                        <td scope="row">{{docs.categorieDocument.getLibelleCategorieDoc}}</td>
                        <td>
                            <a href="{{docs.lienDocument}}"
                             download="{{docs.lienDocument}}">
                                <button class="btn btn-primary">
                                    Télécharger
                                </button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        <a href="{{ path('evenement_index') }}">
            <button class="btn btn-secondary" id="btnRetour">
                Revenir dans la liste
            </button>
        </a>
        {% if is_granted('ROLE_ELEVE') and app.user.getEleve.
        getCategorie.getLibelleCategorie == evenement.categorieEleve.getLibelleCategorie or
         evenement.categorieEleve.getLibelleCategorie == 'Toutes' and evenement.inscriptions|length > evenement.nbPlace and evenement.dateDebut|date('d/m/Y') < "now"|date("d/m/Y") < evenement.dateFin|date('d/m/Y') %}
            {% for inscription in evenement.inscriptions|filter(inscription => inscription.Eleve.id == app.user.getEleve.id ) %}
                <a href="{{ path('evenement_inscrire', {'id': evenement.id,'eleveId': app.user.getEleve.id}) }}">
                    <button class="btn btn-success" id="btnAjout">
                        Aller dans la page de confirmation d'inscription
                    </button>
                </a>
            {% else%}
                {% if app.user.getEleve and is_granted('ROLE_ELEVE') and app.user.getEleve. getCategorie.getLibelleCategorie == evenement.categorieEleve.getLibelleCategorie or  evenement.categorieEleve.getLibelleCategorie == 'Toutes' and evenement.inscriptions|length > evenement.nbPlace and evenement.dateDebut|date('d/m/Y') < "now"|date("d/m/Y") < evenement.dateFin|date('d/m/Y')  %}
                <a href="{{ path('evenement_inscrire', {'id': evenement.id,'eleveId': app.user.getEleve.id}) }}">
                    <button class="btn btn-success" id="btnAjout" onsubmit="return confirm('Voulez-vous vraiment vous désinscrire de cette événement ?');">
                        S'inscrire
                    </button>
                </a>
                {% else %}
                    <button class="btn btn-success" disabled id="btnAjout">
                        S'inscrire
                    </button>            
                {% endif %}
            {% endfor %}
        {% else %}
            {% if app.user.getEleve and is_granted('ROLE_ELEVE') and app.user.getEleve.
            getCategorie.getLibelleCategorie == evenement.categorieEleve.getLibelleCategorie or
            evenement.categorieEleve.getLibelleCategorie == 'Toutes' and evenement.inscriptions|length > evenement.nbPlace  %}
                <a href="{{ path('evenement_inscrire', {'id': evenement.id,'eleveId': app.user.getEleve.id}) }}">
                    <button class="btn btn-success" id="btnAjout" onsubmit="return confirm('Voulez-vous vraiment vous inscrire à cet événement ?');">
                        S'inscrire
                    </button>
                </a>
            {% else %}
                <button class="btn btn-success" disabled id="btnAjout">
                    S'inscrire
                </button>            
            {% endif %}
        {% endif %} 
    </div>
    
{% endblock %}