{% extends 'base.html.twig' %}

{% block title %}Bienvenue Admin{% endblock %}

{% block body %}
	<div>
		<h1>Bienvenue dans l'espace d'administration</h1>
	</div>
	<div>
		<h2>Présentation</h2>
		<p>Vous pouvez gérer ici les nombreuses fonctionnalités du site</p>
	</div>

	<div>
		<p>Voici la liste des fonctionnalités liées aux événements</p>
		<table class="table tableAdmin">
			<thead>
				<tr>
					<th scope="col">Nom de la fonctionnalité</th>
					<th scope="col">Lien pour gérer les fonctionnalités</th>
				</tr>
			</thead>
		    <tbody>
			    <tr>
				    <td>Les événements</td>
				    <td>
				    	<a href="{{path('evenement_admin')}}">
				    		<button type="button" class="btn btn-info" id="btninfo1">
				    			Gestion des événements
				    		</button>
				    	</a>
				    </td>
			    </tr>
			    <tr>
				    <td>Le type d'événement</td>
				    <td>
				    	<a href="{{path('type_evenement_index')}}">
				    		<button type="button" class="btn btn-info" id="btninfo2">
				    			Gestion des types d'événements
				    		</button>
				    	</a>
				    </td>
			    </tr>
			    <tr>
				    <td>Les sports</td>
				    <td>
				    	<a href="{{path('sport_index')}}">
				    		<button type="button" class="btn btn-info" id="btninfo3">
				    			Gestion des sports
				    		</button>
				    	</a>
				    </td>
			    </tr>
			    <tr>
				    <td>La catégorie d'élève</td>
				    <td>
				    	<a href="{{path('categorie_eleve_index')}}">
				    		<button type="button" class="btn btn-info" id="btninfo4">
				    			Gestion des catégories d'élèves
				    		</button>
				    	</a>
				    </td>
			    </tr>
			    <tr>
				    <td>La catégorie de document</td>
				    <td>
				    	<a href="{{path('categorie_document_index')}}">
				    		<button type="button" class="btn btn-info">
				    			Gestion des catégories de documents
				    		</button>
				    	</a>
				    </td>
			    </tr>
			    <tr>
				    <td>Les documents</td>
				    <td>
				    	<a href="{{path('document_admin')}}">
				    		<button type="button" class="btn btn-info" id="btninfo5">
				    			Gestion des documents
				    		</button>
				    	</a>
				    </td>
			    </tr>
			    <tr>
				    <td>Les élèves</td>
				    <td>
				    	<a href="{{path('eleve_index')}}">
				    		<button type="button" class="btn btn-info" id="btninfo6">
				    			Gestion des élèves
				    		</button>
				    	</a>
				    </td>
			    </tr>
			</tbody>
		</table>		
	</div>
	<div>	
		<p>Voici les autres fonctionnalités de l'application</p>
		<table class="table tableAdmin">
			<thead>
				<tr>
					<th scope="col">Nom de la fonctionnalité</th>
					<th scope="col">Lien pour gérer les fonctionnalités</th>
				</tr>
			</thead>
		    <tbody>
			    <tr>
				    <td>Les utilisateurs</td>
				    <td>
				    	<a href="{{path('user_index')}}">
				    		<button type="button" class="btn btn-info">
				    			Gestion des utilisateurs
				    		</button>
				    	</a>
				    </td>
			    </tr>
			    <tr>
				    <td>Les statistiques</td>
				    <td>
				    	<a href="{{path('statistique')}}">
				    		<button type="button" class="btn btn-info">
				    			Espace de statistiques
				    		</button>
				    	</a>
				    </td>
			    </tr>
			</tbody>
		</table>		
	</div>
{% endblock %}
