{% extends 'base.html.twig' %}

{% block title %}Page Accueil{% endblock %}

{% block body %}

	<h1>Accueil</h1>

	<h2>les dernières événements</h2>

	    {% for evenement in evenements %}
            <section id="evenement">
                <div class="container-fluid">
                    {% if evenement.vignetteEvenement %}
                        <img src="{{ asset('uploads/eventVig/' ~ evenement.vignetteEvenement) }}" id="vignette" placeholder="vignette de l'événement">
                    {% else %}
                        <img src="{{ asset('static/images/placeholder.png') }}" id="vignette" placeholder="vignette de l'événement">
                    {% endif %}
                    <div id="event">
                        <div>
                            <h3>{{ evenement.nomEvenement }}</h3>
                        </div>
                        <div>
                            <div id="dateInscrip">
                                <i class="fas fa-calendar-alt"></i>
                                <span>
                                    début d'inscription
                                    {{ evenement.dateDebut ? evenement.
                                    dateDebut|date('d/m/Y') : '' }}
                                </span>
                                <span> / </span>
                                <span>
                                    fin d'inscription
                                    {{ evenement.dateFin ? evenement.
                                    dateFin|date('d/m/Y ') : '' }}
                                </span>
                            </div>
                            <div id="place">
                                <p>
                                    nombre de place restant :
                                    {{ evenement.nbPlace - evenement.inscriptions|length }}
                                </p>
                            </div>
                        </div>
                        <div id="descrip">
                            <p>{{ evenement.descripEvenement }}</p>
                        </div>
                        <div>
                            <a href="{{ path('evenement_show', {'id': evenement.id}) }}">
                                <button class="btn btn-primary">Voir évenement</button>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        {% endfor %}
{% endblock %}
