{% extends 'base.html.twig' %}

{% block title %}Liste des catégories d'élèves{% endblock %}

{% block body %}
    <h1>Liste des catégories d'élèves</h1>
    <div>
        <a href="{{ path('categorie_eleve_new') }}">
            <button class="btn btn-info" id="btnAjout">
                Ajouter une nouvelle catégorie d'élève
            </button>
        </a>
        <a href="{{ path('admin_index') }}">
            <button class="btn btn-secondary" id="btnRetour">
                Retourner dans la liste de fonctionnalité
            </button>
        </a>
    </div>
    <table class="table tableAdmin">
        <thead>
            <tr>
                <th>Libellé d'une catégorie</th>
                <th>Editer</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie_eleve in categorie_eleves %}
            <tr>
                <td>{{ categorie_eleve.libelleCategorie }}</td>
                <td>
                    <a href="{{ path('categorie_eleve_edit',
                    {'id': categorie_eleve.id}) }}">
                        <button class="btn btn-primary">
                            <i class="far fa-edit"></i>
                        </button>
                    </a>
                </td>
                <td>
                    <a href="{{ path('categorie_eleve_delete',
                     {'id': categorie_eleve.id}) }}">
                        <button class="btn btn-danger">
                            <i class="fas fa-trash"></i>
                        </button>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3" class="erreur">Aucune donnée n'a été trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
