{% set actual_route = app.request.attributes.get('_route')  %}
<!DOCTYPE html>
<html>
	<head>
		<title>Association Sportive St-Vincent</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">	
		<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<script src="https://kit.fontawesome.com/b33430525b.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" type="text/css"
		 href="{{ absolute_url(asset('static/css/styleprojet.css'))}}">
		{% block stylesheets %}{% endblock %}
	</head>
	<body>
		<nav class="navbar navbar-inverse"
		 style="background-color: #0F1B2C;">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <img src="{{asset('/static/Images/StVincent.png')}}">
		    </div>
		    <ul class="nav navbar-nav">
		      <li class="active">
		      <a href="{{ path('homepage') }}">ACCUEIL</a></li>
		      <li><a href="{{ path('evenement_index') }}">
		      EVENEMENTS</a></li>
		    </ul>
		    <ul class="nav navbar-nav navbar-right">
		      <li><a href="{{ path('app_login') }}">
		      <i class="fas fa-user-circle">
		      </i> S'IDENTIFIER </a></li>
		    </ul>
		  </div>
		</nav>
		{% block body %}{% endblock %}
	</body>
		<footer>
			<div class="coordonnees">
				<h3>Association Sportive Saint Vincent</h3>
				<li>
					<p>36 Rue de Meaux</p>
					<p>60300 Senlis</p>
				</li>
				<h3>Association Saint-Vincent</h3>
				<p> <a href="https://www.lycee-stvincent.fr/" target="_blank">https://www.lycee.stvincent.fr/</a></p>
			</div>

			<div class="contact">
				<h3>Nous contacter</h3>
				<li>
					<p>Tel : 09 66 85 64 98</p>
					<p>Fax : 04 28 73 25 64</p>
					<p>Email : assocstvincent@gmail.com</p>
					<p>Web :<a href="https://www.lycee-stvincent.fr/" target="_blank">https://www.lycee.stvincent.fr/</a></p>
				</li>
			</div>

			<div class="access">
				<h3>Accès rapide</h3>
				<li>
					<p>Accueil</p>
					<p>Actualites</p>
					<p>Evenements</p>
					<p>Contact</p>
				</li>
			</div>

			<div class="networks">
				<h3>Suivez-nous</h3>
				<i class="fab fa-twitter-square"></i> 
				<i class="fab fa-facebook-square"></i>
			</div>
		{% block footer %}{% endblock %}	
	</footer>
</html>